@media screen and (max-width: 428px){
    .container{
        width: inherit;
    }

    .title p{
        width: inherit;
    }

    .header .logo{
        margin-left: 50px;
    }

    .banner h1{
        font-size: 56px;
    }

    .about-us > .container{
        height: inherit;
    }

    .about-us .sections{
        width: inherit;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .about-us .one-section, .blog-posts .one-section, .chose-plan .one-section{
        margin-top: 20px;
    }

    .our-works ul{
        flex-direction: column;
        width: inherit;
        padding-top: 30px;
    }

    .our-works ul li{
        padding-top: 5px;
    }

    .video .container{
        flex-wrap: wrap;
    }

    .video p{
        width: 60%;
    }

    .video .image, .video video, .video .info{
        width: 100%;
        height: 100%;
    }

    .some-features .container, .blog-posts .container, .video .container, .chose-plan .container, .who-we-are .container, .who-we-are .summary{
        height: inherit;
    }

    .some-features .sections, .blog-posts .sections, .chose-plan .sections, .who-we-are .summary{
        width: inherit;
        padding-top: 0;
    }

    .blog-posts .sections{
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .chose-plan .sections{
        padding-bottom: 20px;
    }

    .slider img{
        width: 50%;
    }

    .summary .name, .summary .skills{
        width: 100%;
    }

    .summary .skills p{
        margin: 0;
        width: inherit;
        padding: 15px 0;
    }

    .summary .skills-content{
        padding-bottom: 40px;
        height: inherit;
    }

    table{
        display: none;
    }
}